/* You can add global styles to this file, and also import other style files */

.form-control.ng-touched.ng-valid {
  border-left: green 5px solid;
}

.form-control.ng-touched.ng-invalid {
  border-left: red 5px solid;
}

.form-control.ng-touched.ng-pending {
  border-left: orange 5px solid;
}