<h4>List of Products</h4>

<!-- Data Binding -->
<!-- 1. Interpolation (one-way binding) -->
<!-- Declarative programming -->
<div>
  Product Name: {{ productName }}<br>
  Price: {{ productPrice }}
</div>

<!-- 2. Property binding (one-way binding) -->
<!-- 
<hr>
<div>
  <input type="text" class="form-control" [value]="productName">
</div> 
-->

<!-- 5. Two-way data binding -->
<hr>
<div>
  <input type="text" class="form-control" [(ngModel)]="productName">
</div>

<hr>
<!-- 3. Event binding (one-way binding) -->
<div>
  <button class="btn btn-success" (click)="onSave()">Save</button>
</div>

<hr>
<!-- 4. Event binding (one-way binding) -->
<div>
  Search:
  <input type="text" class="form-control" placeholder="Enter search test..." (keyup)="onSearch($event)">
</div>

<hr>
<div>
  Festival discount of 10% available for {{ productName }}. Hurry!!
</div>